# Docker build configuration
APP_NAME=blog-support
REGISTRY=cr.example.com
AMD64_BUILDER=builder-host
REMOTE_HOST=remote.example.com

# Blog post configuration
POST_DIR=content/post
AWS_REGION=ap-northeast-1
S3_BUCKET_NAME=
S3_KEY_PREFIX=
REMOTE_IMG_BASE_URL=https://
